<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152417074645-a8n3k90mj4da9t0gbprjs15pave753sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152417074645-a8n3k90mj4da9t0gbprjs15pave753sb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>152417074645-bv986vku07nenh7a4fp9ii1bnfcgcj8t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrLpSQ_h2VjFoMEmetxvKhaNBffrBGCuY</string>
	<key>GCM_SENDER_ID</key>
	<string>152417074645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astro.magnet.pro</string>
	<key>PROJECT_ID</key>
	<string>astro-magnet-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>astro-magnet-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152417074645:ios:26a2e1c7d1a22483f1115c</string>
</dict>
</plist>